html{
	/*禁用系统默认菜单*/
	-webkit-touch-callout:none;
	/*关闭iphone&&Android的浏览器纵向和横向模式中自动调整字体大小的功能*/
	-webkit-text-size-adjust:100%;   
}
html,body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	font-size: 100px;
	font-family: microsoft YaHei;
}
div{
	margin: 0;
	padding: 0;
}
/*清除浮动的影响*/
.clear:after{
	display: block;
	content: '';
	height: 0;
	clear: both;
}

#app{
	position: relative;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.header{
	position: absolute;
	z-index: 10;
	width: 100%;
	left: 0;
	top: 0;
	height: .45rem;
	line-height: .45rem;
	font-size: .18rem;
	text-align: center;
	background-color: #03df34;
	color: #FFF;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
li{
	font-size: .12rem;
}
.carbox{
	position: absolute;
	z-index: 5;
	width: 100%;
	height: auto;
	overflow-y: auto;
	top: .45rem;
	left: 0;
	padding: .1rem;
	box-sizing: border-box;
}
.carlist{
	border-bottom:solid 1px #ddd;
	padding: .05rem 0;
	font-size: .14rem;
	display: flex;
	align-items: center;
}
.checkbox{
	float: left;
	width: 10%;
	text-align: center;
}
.inp{
	width: 15px;
	height: 15px;
}
.img{
	float: left;
	width: 20%;
}
.img img{
	width: 100%;
}
.info{
	float: left;
	margin-left: 5%;
	width: 65%;
	font-size: .13rem;
}
.price{
	color: #ef23ab;
}
.btn{
	padding-top: .1rem;
}
.change{
	float: left;
	display:block;
	font-size: .14rem;
	width: .25rem;
	height: .25rem;
	line-height: .22rem;
	text-align: center;
	border: solid 1px #ddd;
}
.count{
	float: left;
	display:block;
	width: .3rem;
	height: .25rem;
	font-size: .13rem;
	line-height: .23rem;
	text-align: center;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
.lit{
	float: left;
	display: block;
	width: auto;
	height: .32rem;
	line-height: .32rem;
	margin-left: .1rem;

}
.footer{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	left: 0;
	bottom: 0;
	display:flex;
	align-items: center;
	border-top:solid 1px #ddd;
	background-color: #de2312;
	font-size: .18rem;
	text-align: center;
}
.allselect{
	float: left;
	width: 15%;
}
.total{
	float: left;
	width: 50%;
}
.sum{
	float: right;
	width: 35%;
	font-size: .16rem;
}
